<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/topic.css">
    <title><%= topic.TopicName %></title>
</head>
<body>
<div class="container">
    <h1><%= topic.TopicName %></h1>
    <p><%= topic.TopicDescription %></p>

    <button onclick="goBack()" class="button go-back">Back to Dashboard</button>
</div>


<script>
    function goBack() {
        window.history.back();
    }
</script>

</body>
</html>
